@font-face {
    font-family: "mifuente";
    src: url('Organa-Light.eot');
    src: local('Organa Light'), local('Organa-Light'),
        url('Organa-Light.eot?#iefix') format('embedded-opentype'),
        url('Organa-Light.woff2') format('woff2'),
        url('Organa-Light.woff') format('woff'),
        url('Organa-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
body{
    min-height: 100vh;
    background-image: repeating-linear-gradient(#424242,#999999,#d1d1d1);
    }

.color1{
    background: #34495e;
    color: #fff;
}
aside{
    background: #c0392b;
    color: #fff;
}
footer{
    background: #16a085;
    color: #fff;
}
h2{
    text-align: right;
    font-family: "mifuente";
}
h1{
    color: rgb(52, 89, 211);
    font-family: 'Questrial' sans-serif;
    text-shadow: 5px 5px 5px rgb(70, 70, 70);
    text-align: center;
}h3{
    text-align: center;
}
script{
    font-family: "mifuente";
}
